body{
  background-color: #333;
  color: #f79400;
  margin: 0;
  font-family: sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #d4d3d3;
}

nav li {
  padding: 15px 20px;
  margin: 0 20px;
}

nav a {
  color: rgb(67, 3, 128);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f79400;
}


.fixed-element {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3d3d3d;
  z-index: 1000;
}


main {
  margin-top: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid #4b0166;
}

footer {
  padding: 30px;
}

header {
  padding: 30px;
}


@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
  }

  .toggle-btn .bar {
    background-color: #000;
    height: 3px;
    margin-bottom: 6px;
    transition: background-color 0.3s ease;
  }

  .toggle-btn:hover .bar {
    background-color: #aaa;
}

  #toggle:checked ~ .navigation {
    display: block;
  }
}
